__pycache__/databaseAPI.cpython-311.pyc
__pycache__/educrawlerAPI.cpython-311.pyc
Controller/__pycache__/ArticleController.cpython-311.pyc
Controller/__pycache__/KeywordController.cpython-311.pyc
Controller/__pycache__/SpiderController.cpython-311.pyc
ControllerDB/__pycache__/ArticleDB.cpython-311.pyc
ControllerDB/__pycache__/KeywordDB.cpython-311.pyc
ControllerDB/__pycache__/SpiderDB.cpython-311.pyc
ControllerDB/__pycache__/UserDB.cpython-311.pyc
ControllerDB/__pycache__/WebpageSpiderDB.cpython-311.pyc
ControllerDB/__pycache__/WebsiteSpiderDB.cpython-311.pyc
Controller/__pycache__/WebsiteSpiderController.cpython-311.pyc
Controller/__pycache__/WebpageSpiderController.cpython-311.pyc
Controller/__pycache__/UserController.cpython-311.pyc
testServerReq.py
doc.txt
backup.py
testPsycord3.py
